.inputGroup {
    display: flex;
    width: 60vw;
    height: 54px;
    margin-top: -27px;
}

.inputGroup input {
    width: 100%;
    margin-right: 0.5rem;
    border-radius: 8px;
    border: 1.5px solid var(--gray-700);
    background-color: var(--gray-500);
    padding: 0 1.2rem;
    color: var(--gray-200);
}

.inputGroup button {
    display: flex;
    align-items: center;
    background-color: var(--blue-500);
    border: none;
    padding: 0 1.3rem;
    border-radius: 8px;
    font-weight: bold;
    color: var(--gray-200);
    transition: background-color 0.1s;
}

.inputGroup button:hover {
    background-color: var(--blue-300);
}

.inputGroup button svg {
    margin-left: 0.2rem;
}